﻿@model ClinicAppointments.FE.Models.Patients

@Html.HiddenFor(model => model.PatientId)

<div class="row">
    <div class="col-12">
        @Html.LabelFor(model => model.Name)
        <br />
        @Html.TextBoxFor(model => model.Name)
    </div>
    <div class="col-12">
        @Html.LabelFor(model => model.LastName)
        <br />
        @Html.TextBoxFor(model => model.LastName)
    </div>
    <div class="col-12">
        @Html.LabelFor(model => model.Email)
        <br />
        @Html.TextBoxFor(model => model.Email)
    </div>
    <div class="col-12">
        @Html.LabelFor(model => model.Telephone)
        <br />
        @Html.TextBoxFor(model => model.Telephone)
    </div>
    <div class="col-12">
        @Html.LabelFor(model => model.Address)
        <br />
        @Html.TextBoxFor(model => model.Address)
    </div>

    <input type="submit" value="Save" class="button"/>
</div>