﻿@model IEnumerable<ClinicAppointments.FE.Models.Patients>
@using GridMvc.Html
@{
    ViewBag.Title = "List of Patients";
}

<h2>List of Patients</h2>

@Html.ActionLink("Add Patient", "Create", "Patient", new { @class = "button" })

<div class="code-cut">
    @Html.Grid(Model).Columns(columns =>
                    {
                        columns.Add(c => c.Name).Filterable(true);
                        columns.Add(c => c.LastName).Filterable(true);
                        columns.Add(c => c.Telephone).Filterable(true);
                        columns.Add(c => c.Email).Filterable(true);
                        columns.Add(c => c.Address).Filterable(true);
                        columns.Add().Encoded(false).Sanitized(false).SetWidth(30)
                        .RenderValueAs(o => Html.ActionLink("Edit", "Update", new { id = o.PatientId }));
                        columns.Add().Encoded(false).Sanitized(false).SetWidth(30)
                        .RenderValueAs(o => Html.ActionLink("Delete", "Delete", new { id = o.PatientId }));

                    }).WithPaging(10).Sortable(true)
</div>

