﻿@using ClinicAppointments.FE.Models;
@model Appointments
@{
    ViewBag.Title = "Create";
}

<h2>Appointment</h2>
<script src="~/Scripts/appointments.js"></script>
<div>
    @using (Html.BeginForm("AddOrEdit", "Appointment", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.AppointmentId)
        @Html.HiddenFor(model => model.AppointmentDate)

        <div>
            @Html.LabelFor(model => model.PatientId)
            <br />
            @Html.DropDownListFor(model => model.PatientId, Utilitary.GetAllPatients())
        </div>

        <div>
            @Html.LabelFor(model => model.SpecialityId)
            <br />
            @Html.DropDownListFor(model => model.SpecialityId, Utilitary.GetAllSpecialities())
        </div>

        <div>
            @Html.LabelFor(model => model.AppointmentDate)
            <br />
            <label>@Model.AppointmentDate.ToString("MM-dd-yyyy H:mm")</label>
        </div>

        <div id="errorMessage" style="color:red">

        </div>

        <input type="submit" value="Save" class="button"/>
        if(Model.AppointmentId != 0)
        {
            @Html.ActionLink("Cancel Appointment", "Delete", "Appointment",new { id = Model.AppointmentId }, new { @class = "button"})
        }
    }
</div>