﻿@model ClinicAppointments.FE.Models.Appointments
@{
    ViewBag.Title = "Cancel Appointment";
}

<h2>Cancel Appointment</h2>

@using (Html.BeginForm("DeleteAppointment", "Appointment", FormMethod.Post))
{
    @Html.HiddenFor(model => model.AppointmentDate);
    @Html.HiddenFor(model => model.AppointmentId);
    @Html.HiddenFor(model => model.PatientId);
    @Html.HiddenFor(model => model.SpecialityId);
    <div>
        <span>
            Do you wanna cancel de appointment for the patient @Model.Patient.Name @Model.Patient.LastName in the date @Model.AppointmentDate
        </span>
    </div>

    <input type="submit" value="Cancel Appointment" />
    @Html.ActionLink("Back", "Index", null, new { @class = "button" })
}