﻿@using ClinicAppointments.FE.Models;
@model IEnumerable<Appointments>
@{
    ViewBag.Title = "List of Patients";

    Dictionary<int, string> hours = ViewBag.AvailableHours;
    DateTime firstDay = ViewBag.FirstDay;
    DateTime pivotDay = firstDay;
    DateTime today = DateTime.Now;
}
<script src="~/Scripts/appointments.js"></script>
@if (firstDay > today)
{
    @Html.ActionLink("Last Week", "LastWeek", new { date = firstDay }, new { @class = "button"})
}
@Html.ActionLink("Next Week", "NextWeek", new { date = firstDay }, new { @class = "button" })
<div class=" row">
    <div class="col-sm-12">
        <table class="table">
            <thead style="height:auto">
                <tr>
                    <th>Hour</th>
                    @foreach (KeyValuePair<int, string> item in hours)
                    {
                        <th>
                            @item.Value
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @for (int rep = 0; rep < 7; rep++)
                {
                    <tr>
                        <td>@pivotDay.ToString("MM-dd-yyyy")</td>
                        @foreach (KeyValuePair<int, string> item in hours)
                        {
                            <td>
                                @{
                                    IEnumerable<Appointments> appointments;
                                    string currentDateField = pivotDay.ToString("MM-dd-yyyy") + " " + item.Value;

                                    appointments = Model.Where(x => x.AppointmentDate.ToString("MM-dd-yyyy H:mm") == currentDateField);
                                }
                                @foreach (Appointments appoinment in appointments)
                                {
                                    <div class="button" onclick="ShowDetailsAppointment(@appoinment.AppointmentId)">
                                        @appoinment.Patient.Name @appoinment.Speciality.Name
                                    </div>
                                }
                                @if (today.DayOfWeek <= pivotDay.DayOfWeek || firstDay > today)
                                {
                                    <div>
                                        @Html.ActionLink("Add Appointment", "AddAppointment", new { date = currentDateField })
                                    </div>
                                }
                            </td>
                                    }
                        @{
                            pivotDay = pivotDay.AddDays(1);
                        }
                    </tr>
                 }
            </tbody>
        </table>
    </div>
</div>
<style>
    .container{
        margin-left : inherit;
    }
</style>